body {font-family:$header-font;}

.clearfix {@include clearfix();}

img.full {
    width:100%;
    height:auto;
        }

.pageWrapper {
    padding:0 20px;
}
#contentWrapper {
    padding-top:27px;
}

#secondaryNav {
    padding-right:1em;
    text-align:right;
    [class^="icon-"] {
        display:inline-block;
        width:33px;
        height:27px;
        border-right:1px solid $darkgrey;
        margin-right:20px;
        padding-right:15px;
        text-transform:uppercase;
        text-decoration:none;
        color:$darkgrey;
        line-height:35px;
    }
    a {
        @include box-sizing(content-box);
    }
    nav, form {
        display:inline-block;
        vertical-align:bottom;
        .icon-home{
            background: url(images/home_icon.png) 0 0 no-repeat;
            &:before {content:"";}
            width:80px;
            font-size:15px;
        }
        .icon-facebook {
            background: url(images/facebook-icon.png) no-repeat;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;

        }
    }
}

.red-radial-gradient {
    @include radial-gradient(#cc2933, darken(#b42027,8));
    h2,p {color:#fff;}
    h2 {background-color:transparent;}
}
.grey-border {
    border:1px solid #8d8d8d;
}
.grey-border-bottom {
    border-bottom:1px solid #8d8d8d;
    padding-bottom:1em;
    margin-bottom:1em;
}
.grey-border-top {
    border-top:1px solid #8d8d8d;
    padding-top:1em;
    margin-top:1em;
}

.triptic, .diptic {
    @extend .grey-border-top;
    .module {
        height:280px;
    }
    h2 {
        margin:0 -20px;
        padding-left:20px;
        padding-right:20px;
        text-transform:uppercase;
    }
}
.module {
        color:$red;
        text-decoration:none;
        @extend .grey-border;
        line-height:1.4em;
        padding-left:20px;
        padding-right:20px;
        &:first-child {
            border-left:none;
        }
        &:last-child {
            border-right:none;
        }
        &:hover {
            color:inherit;
            text-decoration:none;
        }
    h2.header {
        @include box-shadow(0 5px 5px rgba(0,0,0,.1));
        background-color:#fff;
        color:#808080;
        height:50px;
        line-height:50px;
        margin:0 -20px 1em;
        padding-left:20px;
        padding-right:20px;
        text-transform:uppercase;

            &.transparent {
                background-color:rgba(255,255,255,.9);
            }
    }
    &.grey-module {
        background-color:#E6E6E6;
    }
}
.extra-sideitems {
    .module {
        display:block;
        height:280px;
        border:none;
    }
}
#act-now {
    @extend .red-radial-gradient;
    padding-top:50px;
    h2 {
        line-height:81px;
    }
}
#contact-us {
    position:relative; // for the full width image
    p {
        font-family:'QuicksandBold';
    }
    img.source-image {
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 15px;
    }
}
#extra-footer-home {@extend .grey-border-top;@extend .grey-border-bottom;}
#around-our-community {
    h3 {
        font-family: 'QuicksandBook';
        margin-top:0;
        text-transform:uppercase;
        a {
            text-decoration:none;
            color:$red;
        }
    }
    p {
        font-family:$georgia;
        color:$dark-text;
    }
    .meta {
        color:$dark-text;
        text-transform:uppercase;
        font-size:.9em;
        a {
            text-decoration:none;
            color:$red;
            font-family: 'QuicksandBook';
            float: right;
        }
    }
}

#life-care {
    background:transparent url('images/life-care-couple.jpg') left top no-repeat;
}
#lifestyle {
    background:transparent url('images/lifestyle-teacup.jpg') left top no-repeat;
    h2 {
        display:inline-block;
    }
}

#footer {
    @extend .grey-border-top;
}

#contactInfo {
    background-color:$grey;
    text-align:center;
    padding:.7em;
    margin-bottom:1em;
    strong {
        font-family:'QuicksandBook';
        color:$red;
        padding-left:.4em;
    }
    a{
      text-transform: uppercase;
      text-decoration:none;
      padding-right:.7em;
      margin-right:.4em;
      border-right:1px solid darken($grey, 50);
      white-space: nowrap;
      &:last-child {
        border-right:none;
      }
    }
}

/* Blog Stuff */
.blogHeading {
    color:$red;
    margin:1em 0 0 20px;
    line-height:.5em;
    text-transform:uppercase;
}

#primary, #sidebar {
    background-color:$grey;
}
#primary {
    padding:0 60px;
}
h2.entry-title {
    border-bottom:1px solid $darkgrey;
    font-family:'QuicksandBold';
    margin-right:-60px;
    padding-top:20px;
    text-transform:uppercase;
    a {display:block;text-decoration:none;color:#4c4c4c;}
    .entry-meta {
    float:right;
    font-size:12px;
    padding-right:10px;
    }
}
.entry-content {
    font-family:$georgia;
    a {
        color:$red;
    }
}
.more-link {
    display:block;
    padding:1em 0;
}
.post-thumb img {
    width:100%;
    height:auto;
}

/* Page Navigation */
.page-navigation {
    padding:1em 0;
    font-family:'QuicksandBold';
    font-size:1.3em;
    text-transform:uppercase;
    a {
        color:#4c4c4c;
        text-decoration:none;
    }
}




/* Social Buttons */
.postShare {
    background-color:#efefef;
    clear:both;
    padding:.5em 1em;
    margin-right:-60px;
}
.addthis_toolbox {
    display:inline-block;
    text-transform:uppercase;
    font-size:.8em;
    a {
        color:#556fc6;
        font-weight:bold;
        text-decoration:none;
        span {margin-top:-3px;}
    }
}

/* sidebar */
// headings
#sidebar {
    h3 {
        @include box-shadow(0 2px 5px rgba(0,0,0,.2));
        background-color:$red;
        line-height:2em;
        text-align:center;
        color:$white;
        text-transform:uppercase;
        a {
            color:$white;
            text-decoration:none;
            text-transform:uppercase;
        }
    }
    &.contact-sidebar {
        h3 {
            background-color:$white;
            color:$dark-text;
            margin:0;
        }
    }
}

// blog list
.blog-list-archive {
    font-family:'QuicksandBold';
    .archive-sub-menu {
        display:none;
    }
    li {
        list-style:none;
        line-height:1.2em;
    }
    > li {
       &:before {
        content: "\25B6";
        position:relative;
        left:-20px;
        font-size:.5em;
        }
        &.selected:before {
            content: "\25BC";
        }
    }
    ul { // second tier
        padding-left:.6em;
    }
    a {text-decoration:none;text-transform:uppercase;font-size:.8em;}
}

// video page
// Layout for video archive page
.post-type-archive-video-items #primary {
    padding-left:0;
    padding-right:0;
}
.video-items {
    margin-bottom:3em;
    padding-left:20px;
    padding-right:20px;
    border-right:1px solid darken($grey, 50);
    &:nth-child(2n+1) {border-right:none;}
    img {
        width:100%;
        height:auto;
    }
    h2 {
        color:$red;
        border-bottom:none;
        font-size:1em;
    }
    p {
        font-family:'QuicksandLight';
        line-height:1.5em;
        font-size:.9em;
    }
    &.featured {
    margin-top:3em;
    border-left:none;
     .entry-content {
        @extend .grey-border-bottom;
        @include clearfix();
            div {padding-left:20px;padding-right:20px;}
         }
    h2 {
        margin-top:0;
        padding-top:0;
    }
}

}

.entry-footer {
    margin-bottom:1em;
}

.tel, .email {
    background-color:$red;
    color:$white;
    display:block;
    line-height:1.2em;
    padding:1em 1em .8em;
    border-bottom:1px solid $white;
    &:last-of-type {
        margin-bottom:1em;
    }
    span {
        display:block;
    }
    .type {
        text-transform:uppercase;
    }
    .value {
        font-weight:bold;
    }
}
.hero {
    @extend .clearfix;
    color:$white;
    position:relative;
    margin:0 -60px;
    background-color:$red;
    // background:$red url('images/would-love-to-hear-from-you.png') no-repeat left bottom;
    .column1, .column2 {
        @include span-columns(5 of 10);
        position:relative;
    }
    p {
        padding:1em .5em 1em 0;
        line-height:1.3em;
        margin-bottom:0;
    }
    .noshow {
        text-indent:-9999em;
    }
    img.source-image {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}
}


.page-template-contact-us-php {
    #primary h3 {
        background-color:$white!important;
        font-family: 'QuicksandBook';
        line-height:1.5em!important;
        margin:1em 0important;
        margin-left:-60px!important;
        padding:.5em!important;
        padding-left:60px!important;
        text-transform:uppercase;
        width:70%!important;
        @include box-shadow(0 5px 5px rgba(0,0,0,.2));
    }
}

.inner-wrapper {
    margin-left:-60px;
    margin-right:-60px;
}
// calendar Stuff
#upcoming-events {
    margin-bottom: 2em;
    background-color:$red;
    padding:.5em;
    color:$white;
    text-align:right;
    a {
        color:$white;
        text-decoration:none;
        text-transform:uppercase;
    }
}
.calendar-list {
    @extend .grey-border-top;
    @include clearfix();
    a {
        background-color:$red;
        display:block;
        float:left;
        text-align:center;
        text-transform:uppercase;
        text-decoration:none;
        color:$white;
        margin-right:1%;
        padding:1em .5em;
        line-height:1.2em;
        &:last-of-type {margin-right:0;}
    }
}
#local-calendars {
    a {
        width:24.25%;
    }
}
#offsite-calendars {
    a {width:32.6%;background-color:$darkgrey;font-size:.9em;}

}

.calendar-sidebar {
    h5 {
        text-align:center;
        font-size:1.2em;
        line-height:1.2em;
        color:$darkgrey;
        text-transform:uppercase;
    }
}

.page-template-page-calendar-php .hero {
    margin-top:2em;
    margin-bottom:1.5em;
    @extend .grey-border-bottom;
    background-color:$grey;
    .column1 {
        background-color:$red;
        height:180px;
        font-size:2em;
        text-transform:uppercase;
        text-align:center;
        a {
            text-decoration:none;
            color:$white;
        }
    }
    .column2 {
        height:180px;
    background-color:$grey;
        color:$darkgrey;
    }
}

.full-calendar {
    #ai1ec-calendar-view {
        margin-top:2em;
    }
    .ai1ec-filters-container {
    display:none;
    }
    #ai1ec-container {
        margin:0;
    }
    .ai1ec-calendar-title {
        margin-left:30px!important;
    }
    .ai1ec-title-buttons {
        margin-right:30px!important;
    }
}