$column: 74px;
$gutter: 12px;
$max-width: 1024px;

$visual-grid: true;
// $visual-grid-index: front;

// Fonts
$header-font: 'QuicksandLight', Arial, sans-serif;

// colors
$red: #cc2933;
$grey: #E6E6E6;
$gray: $grey;
$darkgrey: #8e8e8e;
$white: #fff;
$dark-text:#000;