$column: 74px;
$gutter: 12px;
$max-width: 1024px;

// $visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: #f00;
$visual-grid-opacity:.3;

// Fonts
$header-font: 'QuicksandBook', Arial, sans-serif;
$body-copy: 'Source Sans Pro', sans-serif;
$serif-body-copy: 'Merriweather', serif;


// colors
$red: #cc2933;
$grey: #E6E6E6;
$gray: $grey;
$darkgrey: #8e8e8e;
$white: #fff;
$dark-text:#343434;
$purple:#482859;
$teal:#ADD3CF;
$salmon:#E94347;
$green:#86B243;
$orange:#E5B257;
$dark-teal:#6E8C95;
$blue-teal:#327e85;
$bg-color:#D3DCDA;

$subcontentheight: 490px;