@import "gf_forms";

.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password], .gform_wrapper .textarea {
    border-radius: 5px;
    border:2px solid $darkgrey;
    padding:.7em .5em .5em 1em!important;
    font-family: $serif-body-copy!important;
    font-size: 14px;
}
.gform_wrapper .textarea {
    padding: 1em;
}
.gform_wrapper .top_label li.gfield {
    margin-bottom: 0px!important;
}
.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right, .gform_wrapper .ginput_complex .ginput_full {
    min-height: auto!important;
}
.page-template-page-contact-php {
        #primary h3, #primary .gform_title {
            color: rgb(26, 26, 26);
            @include span-columns(4 of 8);
            + p {
                clear: both;
            }
        }
    .gform_wrapper {
        margin: 0!important;
        max-width: 100%!important;
        .gform_description {
             @include span-columns(8 of 8);
            display: block;
            margin-bottom: 1em;
        }
        .gform_title {
            @include span-columns(4 of 8);
        }
    }
    #field_1_7 {
        margin-top: -80px;
    }
    select{
     font-size:16px;
     margin-left:1px;
     margin-top:7px !important;
     width: 93% !important;
    }
    .gform_footer {
        text-align: right;
        .button {
                background-color: $red;
                color: $white;
                border: 2px solid $red;
                padding:.2em .5em 0;
                border-radius: 5px;
                cursor: pointer;
                font-size: 28px!important;
                margin-right: 0;
                 font-family: 'QuicksandBook', sans-serif;
                 float: right;
                 clear: right;
                 width: 49%;
                 text-transform: uppercase;
            }
    }
    .validation_message {display: none;}
    .validation_error {clear: both;color:$red;margin-bottom: 1.5em;}
    .gform_validation_error input {border-color: $red;}
}
#input_1_11_4_label, #input_1_3_4_label {display: none}
#input_1_3_2_container, #input_1_3_3_container {
    width: 100%;
    input {width:98% !important;}
}
