#contentWrapper {
    @include outer-container;
    header {
        @include row();
        #logo {
            @include span-columns(6);
            padding-left:75px;
            padding-bottom:40px;
        }
        #secondaryNav {
            @include span-columns(6);
            @include omega();
        }
    }
}

.triptic {
    @include outer-container;
    .module {
        @include span-columns(4);
    }
}

// menu
#menu-top-menu {
    @include row();
    > li {
        margin:0;
        padding:0;
        width:16.6667%;
        display:block;
        float:left;
    }
}
#extra-footer-home {
    @include outer-container;
}
.menu-sub-menu {
    @include span-columns(4);
}
.span-columns-8 {
    @include span-columns(8);
    .column1, .column2 {
        @include span-columns(6,8);
        p {margin-top:0;}
        img {width:100%;height:auto;}
    }
}

#primary {
    @include span-columns(8);
}
#sidebar {
    @include span-columns(4);
}