.oneoftwelve {@include span-columns(1 of 12);}
.twooftwelve {@include span-columns(2 of 12);}
.threeoftwelve {@include span-columns(3 of 12);}
.fouroftwelve {@include span-columns(4 of 12);}
.fiveoftwelve {@include span-columns(5 of 12);}
.sixoftwelve {@include span-columns(6 of 12);}
.sevenoftwelve {@include span-columns(7 of 12);}
.eightoftwelve {@include span-columns(8 of 12);}
.nineoftwelve {@include span-columns(9 of 12);}
.tenoftwelve {@include span-columns(10 of 12);}
.elevenoftwelve {@include span-columns(11 of 12);}
.twelveoftwelve {@include span-columns(12 of 12);}
.omega {@include omega;}

#contentWrapper {
    @include outer-container;
    header {
        @include row();
        #logo {
            @include span-columns(6);
            padding-left:75px;
            padding-bottom:40px;
        }
        #secondaryNav {
            @include span-columns(6);
            @include omega();
        }
    }
}
.triptic {
    @include outer-container;
    .module {
        @include span-columns(4);
    }
}

.diptic {
    @include outer-container;
    .module{
        @include span-columns(4);
        &:first-child {
            @include span-columns(8);
        }
    }
    &.last-child-large {
        .module{
            @include span-columns(4);
            &:last-child {
                @include span-columns(8);
            }
        }
    }
}

// Layout for video archive page
.video-items {
    @include span-columns(6, 8);
    &:nth-child(2n+1) {margin-right: 0;border-right: none;}
    &.featured {
        @include fill-parent;
         .entry-content {
            @include clearfix();
                 .thumbnail-wrap{
                     @include span-columns(6);
                 }
                 .entry-content-snippet {
                     @include span-columns(6);
                 }
             }
    }
}

// menu
#menu-top-menu {
    @include row();
    > li {
        margin:0;
        padding:0;
        width:16.6667%;
        display:block;
        float:left;
        .lt-ie9 & {
            width:16.6%;
        }
    }
}
#extra-footer-home {
    @include outer-container;
}
.menu-sub-menu {
    @include span-columns(4);
}
.span-columns-8 {
    @include span-columns(8);
    .column1, .column2 {
        @include span-columns(6,8);
        p {margin-top:0;}
    }
}
.row {@include outer-container;}

.subpageWrapper {
    @include clearfix;
    text-align:right;
    position: relative;
}
.subpageNavigation {
        @include span-columns(2);
        padding-top:43px;
}
.subpageContentWrapper {
    text-align:left;
    @include span-columns(10);
    @include omega();
    .jsSubPhotoViewer,.resPhotoViewer {
        @include span-columns(5 of 10);
        img {width:100%;height:auto;}
    }
    .jsSubContentText {
        @include span-columns(3 of 10);
        &.single {
            @include span-columns(5 of 10);
            padding-right: 1.41509%;
        }
    }
    .jsSubContentFlex {
        @include span-columns(2 of 10);
    }
    &.full {
        @include fill-parent;
        position: relative;
        .oneoftwelve {@include span-columns(1 of 12);}
        .twooftwelve {@include span-columns(2 of 12);}
        .threeoftwelve {@include span-columns(3 of 12);}
        .fouroftwelve {@include span-columns(4 of 12);}
        .fiveoftwelve {@include span-columns(5 of 12);}
        .sixoftwelve {@include span-columns(6 of 12);}
        .sevenoftwelve {@include span-columns(7 of 12);}
        .eightoftwelve {@include span-columns(8 of 12);}
        .nineoftwelve {@include span-columns(9 of 12);}
        .tenoftwelve {@include span-columns(10 of 12);}
        .elevenoftwelve {@include span-columns(11 of 12);}
        .twelveoftwelve {@include span-columns(12 of 12);}
        .omega {@include omega;}
    }
}

    .subpagePageTitle {
        display:inline-block;
        right:0;
        position:relative;
    }

// let's get these faux columns in check
#contentWrapper .row { overflow:hidden; }
#primary, #sidebar {
    margin-bottom: -99999px;
    padding-bottom: 99999px!important;
}
#primary {
    @include span-columns(8);
}
#sidebar {
    @include span-columns(4);
}
.lt-ie9 #sidebar {
    margin-right:0;
}

footer {
    .footerLogos {
        @include span-columns(2);
        padding:1em;
    }
    .copyText {
        @include span-columns(10);
    }
}
.page-template-page-contact-php {
    #primary {@include row();}
}