    /* Main Header Navigation */

    #access {
        clear:both;
        ul {
            list-style: none;
            padding-left: 0;

            &.menu {
            // only outside menu
            margin:0;
                border-top:1px solid #8d8d8d;
                border-bottom:1px solid #8d8d8d;
            > li {
                &.dropdown {
                    > a:after {
                        position:absolute;
                        display:block;
                        content:" ";
                        width:0;
                        height:0;
                        top:40%;
                        right:8%;
                        border-top: 6px solid $grey;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;

                    }
                }
                }

            }
        }
    li {
        position: relative;
        &:last-child a {border-right:none;}
    }
    a {
        display: block;
        line-height: 34px;
        height:34px;
        text-align:center;
        text-decoration: none;
        text-transform:uppercase;
        border-right:1px solid #8d8d8d;
    }
    .sub-menu {
        display: none;
        float: left;
        margin: 0;
        position: absolute;
        top: 100%;
        left: -1px;
        padding-top:2px;
        margin-top:-1px;
        width: 250px;
        z-index: 99999;

        li {
          border:2px solid #c0c0c0;
          border-bottom-width:1px;
          border-top:none;
          &:last-child {
            border-bottom-width:2px;
        }


    }
    li:hover a {
        background-color:$red;
        color:$white;
    }
    ul {
      left: 100%;
      top: 0; }
      a {
          background: $white;
          color: #444;
          font-size: 14px;
          font-weight: normal;
          height: auto;
          line-height: 1.4em;
          padding: 10px 10px;
          border:none;
      }
    }
    li:hover > a, ul ul :hover > a, a:focus {
        background: $red;
        font-family: 'QuicksandBold';
    }
    li:hover > a, a:focus {
        background-color:$white;
        font-family: 'QuicksandBold';
    }
    ul li:hover > ul {
        display: block; }
        .current-menu-item > a, .current-menu-ancestor > a, .current_page_item > a, .current_page_ancestor > a {
            font-family: 'QuicksandBold'; } }

    /* Home Secondary Nav (Near footer) */
    #menu-sub-menu {
        margin-top:0;
        margin-bottom:0;
        padding:0;
        list-style:none;
        li {
            margin-bottom:4px;
            text-align:center;
            // offset .module padding
            margin-left:-20px;
            margin-right:-20px;
            &:last-child {
                margin-bottom:0;
            }
            a {
                @extend .red-radial-gradient;
                color:$white;
                display:block;
                height:67px;
                line-height:67px;
                font-size:1.4em;
                text-decoration:none;
                text-transform:uppercase;
            }
        }
    }

.lifestyle-submenu {
   background-color:$white;
   border-top:1px solid $darkgrey;
   border-bottom:1px solid $darkgrey;
   font-size:.9em;
   text-align:center;
   margin-bottom:.5em;
   height: 50px;
   line-height: 50px;
   li {
    display:inline;
    &.current-menu-item {
        a {
            color:$red;
        }
    }
    }
   a {
    padding:0 .75em;
    text-decoration:none;
    text-transform:uppercase;
   }
}